.todo {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCT0LKYoyGmRowBHWCbwLUNUTIlnkveg-MKQ&usqp=CAU');
    
}

#ToHome {
    border-radius: 5px;
    border-color: black;
    position: relative;
    left: 42%;
}
#ToHome:hover {
    background-color: aqua;
}

.info {
    background-color: rgba(211, 114, 141, 0.815);
    border-radius: 10px;
    width: 600px;
    position: relative;
    left: 340px;
    height: 600px;
}

.inputs {
    position: relative;
    display: block;
    left: 207px;
    justify-content: space-evenly;
    margin: 5px;
    border-radius: 5px;
}

.titulo {
    display: flex;
    position: relative;
    bottom: 5px;
    right: 110px;
    padding: 5px;
    left: 45%;
}

.tipos {
    position: relative;
    left: 31.3%;
    margin: 15px;
}

#addButton {
    position: relative;
    left: 35.3%;
    background-color: aqua;
    margin: 5px;
}

#titulo {
    position: relative;
    left: 30%;
    margin: 10px;
}