/* .sectionsContainer {
    display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
  align-items: center;
} */

.sectionTitle {
    margin: 3rem 1.5rem 0 3rem;
    display: grid;
    grid-template-rows: 30%;
    grid-template-columns: repeat(2, 30%);
    gap: 8px;

    justify-content: space-between;
}

.sectionContainer {
    margin: 0 0 3rem 0 ;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}